<p id="notice"><%= notice %></p>

<h3>Cohorts</h3>


<table>


  <tbody>
     <%# <% @students.each do |student| %>  

    <table class="table table-sm table-striped table-bordered">
  <thead>
      <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Course</th>
      <th> Teacher</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% @cohorts.each do |cohort| %>
  
     <tr>
     <td><%= cohort.name %></td>
        <td><%= cohort.start_date %></td>
        <td><%= cohort.end_date %></td>
        <td><%= cohort.course_id %></td>
        <td><%= %></td>
        <td><%= link_to 'Show', cohort %></td>
        <td><%= link_to 'Edit', edit_course_path(cohort) %></td>
        <td><%= link_to 'Destroy', cohort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<button type="button" class="btn btn-light">
<%= link_to 'New Cohort', new_cohort_path %>
</button>

<%# <%= link_to 'New Cohort', new_cohort_path %> 
