<p id="notice"><%= notice %></p>

<h3>Courses</h3>



<table>


  <tbody>
     <%# <% @students.each do |student| %>  

    <table class="table table-sm table-striped table-bordered">
  <thead>
    <tr>
    
      <th scope="col">Name</th>
      <th scope="col">Hours</th>
      <th scope="col"></th> 
      <th scope="col"></th>
      <th scope="col"></th>
      
      
    </tr>
  </thead>
  <% @courses.each do |course| %> 
  
     <tr>
        <td><%= course.name %></td>
        <td><%= course.hours %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Course', new_course_path %>
